
#contenedor2{/*selestor tipo id="contenedor2 (contiene a las tres imagenes inferiores)"*/
    position: absolute;/*se posiciona respecto a su padre body las imagenes y no deja ningun espacio en blanco */
    top: 250px;/*movimiento superior*/
    left: auto;/*movimiento a la izquierda automaticamente */
    bottom: auto;/*movimiento inferior automaticamente */
    margin-top: 35px;/*margen superior*/
}

.box{/*selector clase son todas las cajitas de las imagenes*/
    float: left;/*flotan las cajitas hacia la izquierda */
    width:200px;
    height: 200px;/*alto de cada cajita*/
    margin: 10px;/*margen de los cuatro lados de las cajitas*/
    background-color: black;/*cada caja esta de color negro y encima esta la imagen*/

}

img{/*selector tipo etiqueta que las imagenes*/
    max-width: 100%;/*cada imagen ocupara toda la caja al 100% que tiene como padre */
    opacity: 0.6;/*cada imagen tiene una opacidad*/

}

h1{/*selector tipo etiqueta que contiene el titulo*/
    font-family: 'Roboto Mono', monospace;/*fuente tipografica google fonts*/
    font-size: 20px;/*tamano de fuente*/
    margin-left: 10px;/*margen izquierdo donde debe estar el titulo alineado con las imagenes*/
}

hr{/*selector tipo etiqueta que contiene a la linea*/
    width: 80px;/*ancho de la linea*/
    padding: 2px;/*relleno de la linea*/
    border: 0;/*no tiene borde*/
    background-color: rgb(0,72,0);/*color de la linea usando los colores primarios resalta  el color primario verde*/
    height: 0;/*no tiene altura*/
    margin-left: 10px;/*margen izquierdo de forma que se alinea con la imagen y el titulo*/
}
span {/*selector tipo etiqueta que contiene al texto de cada imagen*/
    position: relative;/*posicionamiento relativo se mueve respecto a su eje inicial y si deja un espacio*/
    color: white;/*color del texto*/
    bottom: 30px; /*espacio inferiormente*/
    left: 80px;/*espacio a la izquierda*/
}
